/* =============================================================================
  GLOBALS
============================================================================= */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    z-index: 0;
    margin: 0;
    padding: 0;
}
html {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    font-family: "Ubuntu", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    line-height: 1.1;
}
.preloader {
    z-index: 1;
    padding-top: 10%;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.packery {
    background: #fff;
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
}
/* clearfix */

.packery:after {
    content: ' ';
    display: block;
    clear: both;
}
#preloader {
    margin-top: 15%;
    text-align: center;
}
#gbnt-header {
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#gbnt-header .gbnt-link:hover {
    color: #ccc;
}
#gbnt-header .column .right {
    margin-top: 25px;
}
#gbnt-header .column .right div {
    display: inline;
    margin-right: 20px;
}
.selected {
    color: #414141 !important;
}
#gbnt-header .gbnt-language {
    margin-right: 30px;
    color: #fff;
}
#gbnt-header .gbnt-language:hover {
    color: #ccc;
}
#gbnt-header img {
    float: left;
    height: 65px;
    margin-top: 5px;
    margin-left: 10px;
}
#mainContainer {
    top: 90px;
}
.gbnt-btn {
    z-index: -1;
}
.gbnt-disabled {
    background: rgba(0, 0, 0, .80);
    opacity: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.gbnt-btn-view-proj {
    margin: 10px 0 10px 0 !important;
}
.gbnt-hide {
    display: none;
}
.gbnt-margin-0 {
    margin: 0px !important;
    padding: 0px !important;
}
.gbnt-close {
    z-index: -1;
    /*pointer-events: pointer !important;*/
    
    float: right;
    margin-top: 4px !important;
}
.gbnt-close:hover {
    color: #ccc;
}
.gbnt-no-bckgr-img {
    background-image: none !important;
    border: 1px solid #ccc;
}
.gbnt-size-normal {
    width: 144px;
    height: 144px;
}
.gbnt-size-wide {
    width: 288px;
    height: 144px;
}
.gbnt-size-tall {
    width: 144px;
    height: 288px;
}
.gbnt-size-selected {
    width: 432px;
    height: 432px;
}
.gbnt-item {
    float: left;
}
.gbnt-item img {
    width: 100%;
    display: block;
}
.gbnt-item:hover div[id^=overlay] {
    pointer-events: pointer;
    opacity: 1;
}
div[id^=overlay] {
    background: rgba(0, 0, 0, .75);
    opacity: 0;
    -webkit-transition: opacity.25s ease;
    -moz-transition: opacity.25s ease;
}
div[id^=overlay] .textbox {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
div[id^=overlay] p {
    margin: 0;
}
div[id^=overlay] .titulo {
    color: #fff;
    font-family: Helvetica;
    font-size: 96 px;
}
div[id^=overlay] .autor {
    color: #fff;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 96 px;
}
.gbnt-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}
.gbnt-buttons i:hover {
    color: #ddd !important;
}
#gbnt-list {
    margin-top: 80px;
}
#gbnt-list .author {
    margin-right: 2%;
    color: #000 !important;
}
#gbnt-list .project {
    color: #000 !important;
}
#gbnt-list .title:hover {
    background-color: #ccc;
    color: #fff !important;
}
/* =============================================================================
  MEDIA QUERIES
============================================================================= */
/* 
 ========= SMALL DEVICES (tablets, 768px and up) ============
*/

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}
/* 
 ========= MEDIUM DEVICES (desktops, 992px and up) ============
*/

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}
/* 
 ========= LARGE DEVICES (large desktops, 1200px and up) ============
*/

@media (min-width: 1200px) {
    html {
        font-size: 24px;
    }
}
