/**********************************************************************
 * GLOBALS
 **********************************************************************/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
    font-family: "Proxima Nova W01", Arial, sans-serif;
}

body {
    font-weight: 100;
}

.preloader {
    z-index: 999;
    padding-top: 20%;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.hide-me {
    display: none;
}

.no-pointers,
.no-pointers:hover,
.no-pointers:visited,
.no-pointers:active,
.no-pointers:focus {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
/**********************************************************************
 * GBNT-HEADER
 **********************************************************************/

#gbnt-header {
    height: 80px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    overflow: hidden;
}

#gbnt-header .logo {
    float: left;
    width: 20%;
}

#gbnt-header .logo a img {
    height: 65px;
    margin-top: 5px;
    margin-left: 15%;
}

#gbnt-header .nav {
    float: left;
    margin-top: 30px;
    width: 80%;
}

#gbnt-header .nav .gbnt-language {
    float: right;
    margin-right: 10%;
}

#gbnt-header a {
    color: #666;
    text-decoration: none;
}

#gbnt-header a:hover {
    color: #fff !important;
}

#gbnt-header .about-text {
    color: #fff;
    width: 75%;
    margin-top: 80px;
    text-align: left;
}

#gbnt-header .tours {
    color: #fff;
    width: 75%;
    margin-top: 10px;
    margin-left: 105px;
    text-align: left;
    float: left;
    position: absolute;
}

#gbnt-header .nav .tours ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#gbnt-header .nav .tours ul li {
    display: block;
    margin-top: 20px;
}

#gbnt-header .nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    float: left;
}

#gbnt-header .nav ul li {
    display: inline;
    margin-right: 30px;
}

#gbnt-header .toggle-menu {
    display: none;
}

#gbnt-header .close-header {
    width: 100%;
    font-size: 30px;
    color: #666;
    text-align: center;
}

#gbnt-header .close-header a:hover {
    color: #fff;
}

#gbnt-header .close-header i {
    margin-top: 50px;
}
/**********************************************************************
 * GBNT-CONTAINER
 **********************************************************************/

#gbnt-container {
    top: 80px;
    position: relative;
}

#gbnt-container .gbnt-item {
    float: left;
    position: static;
    cursor: pointer;
}

#gbnt-container .gbnt-item.tour {
    background-color: #000;
}

#gbnt-container .tour .btn-selected {
    color: #fff !important;
}

#gbnt-container .tour p {
    color: #fff !important;
}

#gbnt-container .tour .proj-profile .header {
    border-color: #fff;
}

#gbnt-container .wrap {
    position: relative;
    width: 100%;
}

#gbnt-container .proj-cover img {
    display: block;
    width: 100%;
}

#gbnt-container .proj-cover {
    position: absolute;
    width: 100% !important;
    float: left;
    z-index: 30;
}

#gbnt-container .proj-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 100% !important;
    z-index: 20;
}

#gbnt-container .proj-img img {
    display: block;
}

#gbnt-container .proj-img {
    position: absolute;
    width: 100% !important;
    z-index: 10;
}

#gbnt-container .textbox {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#gbnt-container .textbox .titulo {
    color: #fff;
    font-size: 14px;
}

#gbnt-container .textbox .autor {
    color: #fff;
    font-size: 14px;
}

#gbnt-container .textbox p {
    margin: 0;
}

#gbnt-container .gbnt-size-normal {
    width: 12.5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gbnt-container .gbnt-size-wide {
    width: 25%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gbnt-container .gbnt-size-tall {
    width: 12.5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gbnt-container .selected-project {
    width: 37.5%;
}

#gbnt-container .proj-profile {
    width: 100%;
}

#gbnt-container .proj-profile a {
    pointer-events: visible;
}

#gbnt-container .proj-profile .header {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 4%;
}

#gbnt-container .proj-profile .btn-close img {
    width: 18px;
}

#gbnt-container .proj-profile .btn-close {
    float: right;
    margin-top: 0px;
}

#gbnt-container .proj-profile .btn-close:hover {
    opacity: 0.4;
}

#gbnt-container .proj-profile .btn-view-proj {
    margin-right: 15px;
    text-decoration: none;
    color: #666;
}

#gbnt-container .proj-profile .btn-view-proj:hover {
    color: #000;
}

#gbnt-container .proj-profile .btn-project {
    width: 50px;
    text-decoration: none;
    color: #666;
    margin-right: 30px;
}

#gbnt-container .proj-profile .btn-project:hover {
    color: #000;
}

#gbnt-container .proj-profile .btn-author {
    width: 50px;
    text-decoration: none;
    color: #666;
}

#gbnt-container .proj-profile .btn-author:hover {
    color: #000;
}

#gbnt-container .proj-profile .btn-selected {
    color: #000;
    pointer-events: none;
}

#gbnt-container .proj-profile .tab-project {
    padding: 12px;
    margin-top: 15px;
}

#gbnt-container .proj-profile .tab-project i {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gbnt-container .proj-profile .tab-author {
    padding: 12px;
    margin-top: 15px;
}

#gbnt-container .proj-profile .tab-author p {
    margin-top: 20px;
}
/**********************************************************************
 * SLIDE SHOW 
 **********************************************************************/

#gbnt-project {
    background-color: #474747;
    top: 80px;
    position: relative;
    /*width: 80%;*/
    
    height: 100%;
    text-align: center;
    /*border: 1px solid black;*/
}

.body-color {
    background-color: #474747;
}

.slick-content {
    margin: 0 auto;
    /*border: 1px solid red;*/
    
    width: 40%;
    /*margin-top: 5%;*/
}

.slick-content .label {
    text-align: center;
    color: #fff;
    padding: 15px;
}

.slick-content span {
    margin-right: 15px;
    margin-left: 15px;
}

.slick-content img {
    /*        -webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);*/
    
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

.slick-content iframe {
    /*        width: 100%;
        height: auto;*/
}

@media (max-width: 768px) {
    #gbnt-project {
        width: 100%;
        top: 0;
    }
    .slick-content {
        width: 100%;
    }
    .slick-content img {
        width: 100%;
    }
    .slick-content iframe {
        width: 100%;
        height: 300px;
    }
    .slick-content span {
        width: 100%;
        margin: 0;
        display: block;
    }
    // <div class="label"><span class="auth">{{author}}</span>-<span class="title">{{title}}</span>-<span class="year">{{year}}</span> <span class="index">{{index}}/{{total}}</span>
    //            </div>
}
/**********************************************************************
 * MEDIA QUERIES
 **********************************************************************/
/* 
 ========= SMALL DEVICES (mobiles) ============
*/

@media screen and (min-width: 0px) and (max-width: 767px) {
    html {
        max-width: 100%;
    }
    #gbnt-header {
        position: static;
    }
    #gbnt-header .nav {
        display: none;
        padding: 0;
        margin-top: 70px;
        margin-left: 20px;
        width: 100%;
    }
    #gbnt-header .nav ul {
        text-align: left;
    }
    #gbnt-header .gbnt-language {
        position: absolute;
        top: 100px;
        left: 20px;
    }
    #gbnt-header .tours {
        position: static;
        margin-left: 30px;
        width: 100%;
    }
    #gbnt-header .tours.hide-me {
        display: block;
    }
    #gbnt-header .about-text.hide-me {
        display: block;
        width: 100%;
        position: absolute;
        top: 410px;
        margin: 0px;
        padding-right: 30px;
        padding-left: 20px;
        left: 0;
    }
    #gbnt-header .nav ul li {
        display: block;
        margin-bottom: 30px;
    }
    #gbnt-header .toggle-menu {
        display: block;
        float: right;
        font-size: 35px;
        margin-top: 20px;
        margin-right: 27px;
    }
    #gbnt-container {
        top: 0;
    }
    #gbnt-container .gbnt-size-normal {
        width: 50%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .gbnt-size-wide {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .gbnt-size-tall {
        width: 50%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .selected-project {
        width: 100%;
    }
}
/* 
 ========= MEDIUM DEVICES (tablets) ============
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    #gbnt-container .gbnt-size-normal {
        width: 20%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .gbnt-size-wide {
        width: 40%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .gbnt-size-tall {
        width: 20%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #gbnt-container .selected-project {
        width: 60%;
    }
}
